/* Home CSS */
/* App.css */
.App {
  position: relative;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

body{
  background-color: beige;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.content-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  /* height: 100%; Adjusted height to fill the container */
}

.text-container {
  margin-bottom: 20px;
  width: 80%; /* Adjusted width for responsiveness */
  line-height: 2em;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2980b9;
  }
}

.image-container {
  overflow: hidden;
  width: 80%; /* Adjusted width for responsiveness */
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;

  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    transform: scale(1.1);
  }
}

/* Media query for smaller screens */
@media (max-width: 576px) {
  .text-container {
    width: 100%; /* Full width on smaller screens */
  }

  .image-container {
    width: 100%; /* Full width on smaller screens */
    margin-left: 0;
  
  }
  .image-container img {
    width: 100%; /* Make sure the image takes 100% of the container width */
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: contain; /* Resize the image to contain within the entire container */
  }

  .content-container {
    display: block;
    flex-direction:block;
    width:100%;
  }
  .text-container{
    width:100%;
  }
}

#call{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
 
}
#intern{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size :60px;
  color:#0698fa;
  font-style: italic;
}
#para{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size :larger;
}
#but{
  font-size:x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #0698fa;
  width:30%;
}





/*LoginForm*/
#log
{
  width: 100%;
  height: 100%;
  /* Optional, for a fixed background */
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  margin-bottom: 50px;
 
  
}
body{
  background-image: url('new.jpg');
 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.loginform{

    
    width: 80%; /* Adjust the width as needed */
  padding: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  margin-top: 100px;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */

 

}


@media (max-width: 768px) {
  #log {
      width: 100%; /* Adjust the width for smaller screens */
      margin-top:20px;
  }
}
#head{
   
  color:blue;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn-log{
  width:100%;
}
.text{
  width:100%
}


/* Add Mentor*/
#mentor
{
  width: 100%;
  height: 100%;
  /* Optional, for a fixed background */
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  margin-bottom: 50px;

 
  
}
#mentorhead{
   
  color:black;
  font-size:x-large;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
 #mentorform{ 
  margin-top: 20px;
  width:60%; 
   padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;
  
  justify-content: center; 
  align-items: center; 


} 
#submit{
  font-family: Georgia, 'Times New Roman', Times, serif;
  width:100%;
  background-color:rgb(0, 89, 255);
}
#submit:hover{
  background-color:rgb(255, 17, 0);
  color: white;
   
}

.textfields{
   
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  margin-left: 50px;
  width:80%
}   

/* Add project */
#prohead{
   
  color:black;
  font-size:x-large;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
 #proform{ 
  margin-top: 20px;
  width:70%; 
   padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;
  
  justify-content: center; 
  align-items: center; 


} 
#submit{
  font-family: Georgia, 'Times New Roman', Times, serif;
  width:100%;
  background-color:rgb(0, 89, 255);
}
#submit:hover{
  background-color:rgb(255, 17, 0);
  color: white;
   
}
#pro{
  
  width: 100%;
  
  height: 100vh;

  display: flex;
  justify-content: center; 
  align-items: center; 

}
.textfields{
   
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  margin-left: 50px;
  width:80%
}   

